<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">

    <% if (errorMessage) { %> 
        <script>
            alert('<%= errorMessage %>');
        </script>
    <% } %>

    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">
            Login
        </h2>

        <div class="row">
            <div class="col-md-5 mx-auto"> <hr>
                <br>

                <form action="/login" method="post">
                    <div class="mb-4">
                        <label class="block text-gray-700 font-semibold mb-2" for="email">Email</label>
                        <input
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                            type="email" 
                            id="email" 
                            name="email" 
                            placeholder="Enter Your Email" 
                            value="<%= email %>"
                        >
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-semibold mb-2" for="password">Password</label>
                        <input 
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                            type="password" 
                            id="password" 
                            name="password" 
                            placeholder="Enter Your Password"
                        >
                    </div>

                    
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>